.container {
}

h1{
    text-align: center;
    font-size: 42px;
    color: rgb(202, 202, 99);
    padding: 30px;
    background: url(../images/stardust.gif);

}

body{
    background: url(../images/background_Clone.png);
}

.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    .button:hover{
    background-color:#4095c6;
    }
    @media all and (max-width:30em){
     .button{
    display:block;
    margin:0.2em auto;
    }
}



#gifContainer{
    margin: 25px 0px 25px 0px;

}
